<!-- Comienza el Header -->
<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      HOME
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="perfil" (ionChange)="segmentChanged($event)"> <!--Creamos un segmento llamado perfil que estra dentro del home -->
      
      <!--Icono 1 de info llamado perfil -->
      <ion-segment-button  value="perfil">
        <ion-icon name="home"></ion-icon>
      </ion-segment-button>
      
      <!--Icono 2 del segmento llamado experiencias -->
      <ion-segment-button value="experiencias">
        <ion-icon name="briefcase-outline"></ion-icon>
      </ion-segment-button>
      
      <ion-segment-button value="certificaciones">
        <ion-icon name="school-outline"></ion-icon>
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>
</ion-header>
<!-- Termina el Header -->

<ion-content>
  <!-- Aquí se desplegara todos los Component que se declararon como children en
  HomePageModule -->
  <ion-router-outlet></ion-router-outlet>
</ion-content>
